_auth = bnBtdGVzdDpBS0NwMlRnM29IemUzeDF6U2tMb3B5SmROM2hIZlpaaG1iNGRmVnpwQ1VFREs0d3ZETVM1NHJkVFhQdEJSRWZIa3l1UEdaTnJL
always-auth = true
email = github@savogroup.com
# registry = https://artifactory.savo.io/artifactory/api/npm/npm-remote/
registry = http://artifacts.chicago.savogroup.net:8081/artifactory/api/npm/npm-remote/
